{% extends 'base.html' %}
{% load static %}

{% block title %} To Do App {% endblock %}

{% block content %}

<style>
	table,th,td{ border:1px solid black; border-collapse: collapse; color:black; }
	.styled-table {
    		border-collapse: collapse;
    		margin: 25px 0;
    		font-size: 0.9em;
    		font-family: sans-serif;
    		min-width: 400px;
    		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	}

	.styled-table thead tr {
    		background-color: #009879;
    		color: #ffffff;
    		text-align: left;
	}

	.styled-table th,
	.styled-table td {
    		padding: 12px 15px;
	}

	.styled-table tbody tr {
    		border-bottom: 1px solid #dddddd;
	}

	.styled-table tbody tr:nth-of-type(even) {
    		background-color: #f3f3f3;
	}

	.styled-table tbody tr:last-of-type {
    		border-bottom: 2px solid #009879;
	}

	.styled-table tbody tr.active-row {
    		font-weight: bold;
    		color: #009879;
	}
	
</style>

<center>
	<link rel="stylesheet" href="{%static 'css/create-task-btn.css'%}">
	<h1 style="color:black"> To Do App </h1>
	<br>
	<table border="2" class="styled-table" style="width:75%">
		<th> Sr no. </th>
		<th> Task </th>
		<th> Deadline </th>
		<th> Note </th>
		<th> Time Stamp </th>
		{% for d in data %}
			<tr>
				<td style="text-align:center">{{ forloop.counter }}</td>
				<td>{{ d.task }}</td>
				<td>{{ d.deadline }}</td>
				<td>{{ d.note }}</td>
				<td>{{ d.timestamp }}</td>
				<td><a href="{% url 'delete' t=d.task %}" onclick="return confirm('Are you sure?')">Delete</a></td>
			
			</tr>
			{% empty %}
				<tr>
					<td> No records </td>
				</tr>
		{% endfor %}
	</table>
	<br><br>
	<a href="{% url 'createtask' %}" ><button type="button" name="button" class="create-task-btn">Create task</button></a>
	<br><br><br><br>
</center>
{% endblock %}